<div class="border-bottom">
    <div class="row py-10 row-gap-5  ">

        <div class="col-12 col-md-6 mb-5 mb-md-0">
            <div
                    class="d-flex gap-6 text-decoration-none link-dark">
                <a class="col-2 col-md-3 d-block" href="/catalog-detail.html">
                    <img class=" w-100"
                         src="/img/catalog/product_preview.png"
                         alt="">
                </a>
                <div class="d-flex flex-column h-auto justify-content-between">
                    <a href="/catalog-detail.html"
                       class="d-flex gap-6 align-items-center text-decoration-none link-dark">
                        Цепная мини пила аккумуляторная Greenworks G24MCS10 Арт.
                        2008207,
                        24V, 10см, без АКБ и ЗУ в сумке
                    </a>

                    <button class="btn align-items-center p-0 link-dark d-flex fs-2 gap-3">
                        Выбрать аксессуары
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_423_637)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5 3C22.5 2.60218 22.342 2.22064 22.0607 1.93934C21.7794 1.65804 21.3978 1.5 21 1.5L3 1.5C2.60218 1.5 2.22064 1.65804 1.93934 1.93934C1.65804 2.22064 1.5 2.60218 1.5 3L1.5 21C1.5 21.3978 1.65804 21.7794 1.93934 22.0607C2.22064 22.342 2.60218 22.5 3 22.5L21 22.5C21.3978 22.5 21.7794 22.342 22.0607 22.0607C22.342 21.7794 22.5 21.3978 22.5 21L22.5 3ZM0 3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.316071 2.20435 0 3 0L21 0C21.7956 0 22.5587 0.316071 23.1213 0.87868C23.6839 1.44129 24 2.20435 24 3L24 21C24 21.7956 23.6839 22.5587 23.1213 23.1213C22.5587 23.6839 21.7956 24 21 24L3 24C2.20435 24 1.44129 23.6839 0.87868 23.1213C0.316071 22.5587 0 21.7956 0 21L0 3ZM12.75 17.25C12.75 17.4489 12.671 17.6397 12.5303 17.7803C12.3897 17.921 12.1989 18 12 18C11.8011 18 11.6103 17.921 11.4697 17.7803C11.329 17.6397 11.25 17.4489 11.25 17.25V8.5605L8.031 11.781C7.89017 11.9218 7.69916 12.0009 7.5 12.0009C7.30084 12.0009 7.10983 11.9218 6.969 11.781C6.82817 11.6402 6.74905 11.4492 6.74905 11.25C6.74905 11.0508 6.82817 10.8598 6.969 10.719L11.469 6.219C11.5387 6.14916 11.6214 6.09374 11.7125 6.05593C11.8037 6.01812 11.9013 5.99866 12 5.99866C12.0987 5.99866 12.1963 6.01812 12.2874 6.05593C12.3786 6.09374 12.4613 6.14916 12.531 6.219L17.031 10.719C17.1718 10.8598 17.2509 11.0508 17.2509 11.25C17.2509 11.4492 17.1718 11.6402 17.031 11.781C16.8902 11.9218 16.6992 12.0009 16.5 12.0009C16.3008 12.0009 16.1098 11.9218 15.969 11.781L12.75 8.5605V17.25Z" fill="#1C2026"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_423_637">
                                    <rect width="24" height="24" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>

                    </button>
                </div>

            </div>

        </div>

        <div class="col-6 col-md-2 flex-column align-items-end justify-content-end ">
            <div class="ms-auto ms-md-0" style="width: fit-content">
                <div class="d-flex gap-4 mb-3 align-items-center" data-maxcount="99"
                     data-count="group">
                    <button class="btn btn-outline-primary btn-card-count btn-icon btn-icon--minus"
                            data-count="minus"></button>
                    <span class="fw-medium text-center" data-count="result"
                          style="min-width: 1.5em">90</span>
                    <button class="btn btn-outline-primary btn-card-count btn-icon btn-icon--plus"
                            data-count="plus"></button>
                </div>
                <button class="btn link-dark fs-3 p-0 d-block text-capitalize">
                    Удалить
                </button>
                <button class="btn link-dark fs-3 p-0 text-capitalize">
                    В избранное
                </button>
            </div>
        </div>

        <div class="col-6 col-md-2">
            <div class="text-primary d-flex align-items-center gap-3">
                <i class="theme-icon theme-icon_stock"></i> В наличии
            </div>
        </div>

        <div class="col-6 col-md-2 text-md-end">
            <div class="fs-5 fw-medium mb-4">
                33999 ₽
            </div>
            <del class="">
                33999 ₽
            </del>
        </div>



    </div>
</div>
