<div class="psevdo-container position-relative border border-light">
    <div class="product-item rounded bg-white p-4 position-relative d-flex flex-column justify-content-between">
        <div>
            <a class="position-relative d-block" href="/catalog-detail.html">
                <img src="./img/catalog/product_preview.png" alt=""
                     class="w-100">

                <div class="position-absolute d-flex flex-column gap-1 z-3" style="top: 0; left: 0">
                    <div class="p-2 px-4 bg-secondary text-white border rounded-5 fs-3 text-uppercase fw-medium"
                         style="width: fit-content">
                        Популярное
                    </div>
                    <div class="p-2 px-4 text-white bg-primary rounded-5 fs-3 text-uppercase fw-medium"
                         style="width: fit-content">
                        Рекомендуем
                    </div>
                </div>

                <div class="position-absolute d-flex flex-column gap-2  z-3" style="top: 0em; right: 0em">
                    <div class="bg-primary p-2 px-3 fw-medium fs-6 text-white rounded-circle">
                        %
                    </div>
                </div>

                <div class="position-absolute align-items-center d-flex gap-2 z-3" style="left: 0; bottom: 0">
                    <div class="d-flex gap-1">
                        <img src="./img/catalog/product_preview_icon_1.svg" alt="">
                        <img src="./img/catalog/product_preview_icon_2.svg" alt="">
                    </div>
                    <div class="fs-4 fw-semibold text-dark">
                        В комплекте
                    </div>

                </div>
            </a>
            <div class="d-flex fs-3 my-5 justify-content-between">
                <div class="opacity-50">
                    Артикул: 2398766
                </div>
                <div class="text-primary d-flex fs-4 align-items-center gap-1">
                    <i class="theme-icon theme-icon_stock"></i> В наличии
                </div>
            </div>

            <div class="mb-5">
                <a href="/catalog-detail.html"
                   class=" fs-6 fw-semibold text-decoration-none my-4 link-dark">
                    Название в две строки как у большинства продуктов
                </a>
            </div>

            <div class="d-flex align-items-center my-4 gap-3">
                <div class="d-flex text-warning gap-1">
                    <i class="theme-icon theme-icon_star"></i>
                    5.0
                </div>
                <div class="d-flex fs-3 align-items-center opacity-50">
                    999 Отзывов
                </div>
            </div>
        </div>
        <div class="w-100 d-flex flex-column justify-content-between">

            <div class="bg-light mb-3 rounded position-relative">
            </div>
            <div class="d-flex justify-content-between align-items-end gap-2">
                <div class="d-flex flex-column gap-4">
                    <div class="d-flex align-items-center justify-content-between gap-3 w-100">
                        <div class="card__price-font fw-semibold">
                            33999 ₽
                        </div>
                        <div class="d-flex gap-2 justify-content-end fs-7">
                            <div class="bg-primary rounded-1 text-white p-1 py-0">
                                -30%
                            </div>
                            <div class="text-decoration-line-through opacity-50">
                                33999 ₽
                            </div>
                        </div>

                    </div>
                    <div class="fs-5 d-flex ms-auto gap-2 align-items-center fw-medium">
                        <div class="bg-light p-2 rounded-1 card__price-font2">
                            33999 ₽
                        </div>
                        <div class="fs-2 opacity-75">
                            х 4 платежа в рассрочку без переплат
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="text-dark d-flex gap-1 align-items-center fs-7 fw-semibold">
                            <i class="theme-icon theme-icon_bonus"></i> <span
                                    class="fs-2 opacity-75">1938 ₽ на счет</span>
                        </div>
                    </div>
                </div>

            </div>


            <div class="hidden-content">

                <div class="d-flex justify-content-end flex-wrap my-4">
                    {% set arrBtn = [
                        {
                            'text': 'Без аккумулятора и зарядки',
                            'active': false
                        },
                        {
                            'text': '1 Ач аккумулятор и зарядка',
                            'active': true
                        },
                        {
                            'text': '5 Ач аккумулятор и зарядка',
                            'active': false
                        },
                        {
                            'text': '4 Ач аккумулятор и зарядка',
                            'active': false
                        },
                        {
                            'text': '1 Ач аккумулятор и зарядка',
                            'active': true
                        }
                    ] %}
                    {% for key,val in arrBtn %}
                        <div class="col-6 p-1">
                            <input type="radio" name="options-base" class="btn-check" id="btn-check-outlined_{{ key }}"
                                   autocomplete="off" {% if key == 0 %} checked {% endif %}>
                            <label class="btn text-center p-2 fs-3 btn-outline-primary btn-outline-primary--no-bg "
                                   for="btn-check-outlined_{{ key }}">
                                {{ val.text }}
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-flex rounded  bg-primary color-white" data-count="group" data-maxcount="99">

                    <button class="text-start fs-4 py-4 w-100 btn btn-primary text-white" data-catalog-action="add2basket"
                            data-add2basket-count="1">
                        В корзину
                    </button>
                    <div class="d-flex py-4 text-center rounded justify-content-center w-50 bg-primary h-100 gap-4 px-5">
                        <button class="btn btn-outline-light btn-card-count btn-icon btn-icon--minus btn-icon--minus--white"
                                data-count="minus"></button>
                        <span style="min-width: 0.75em" class="fw-medium text-white" data-count="result">1</span>
                        <button class="btn btn-outline-light btn-card-count btn-icon btn-icon--plus btn-icon--plus--white"
                                data-count="plus"></button>
                    </div>

                </div>

                <div class="d-flex justify-content-between mt-4">
                    <div class="d-flex align-items-center flex-column ">
                        <button class="btn btn-icon btn-icon--wishlist"></button>
                        <span class="fs-2">
                    Избранное
                </span>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <button class="btn btn-icon btn-icon--compare"></button>
                        <span class="fs-2">
                    Сравнить
                </span>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <button class="btn btn-icon btn-icon--view"></button>
                        <span class="fs-2">
                    Глянуть
                </span>
                    </div>
                    <div class="d-flex align-items-center  flex-column">
                        <button class="btn btn-icon btn-icon--one-click"></button>
                        <span class="fs-2">
                    Купить в 1 клик
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
