{#<div class="row bg-primary">gggggggg#}
{#</div>#}
<div class="row mb-20 d-flex ">
{#    <div class="col subscribe_warpper">#}
{#        <div class="row d-flex justify-content-between">#}
            <div class="col-lg-5 col-md-5">
                <div class="bg-primary px-14 rounded-2 text-white py-16">
                    <div class="fs-17 fw-semibold mb-3">
                        ПОДПИСКА<br>GREENWORKS
                    </div>
                    <div class="fw-light fs-6 mb-6 ">
                        Подпишись, чтобы получать информацию о эксклюзивных<br>предложениях, поступлениях, событиях и
                        многом другом
                    </div>
                    <div class="col-12 p-0 mx-auto">
                        <form action="" method="" class="w-100">
                            <div class="w-100">
                                <input type="email" class="mb-3 subscribe_warpper___input form-control bg-primary border border-white text-white" placeholder="Email"/>
                            </div>
                            <div class="w-100">
                                <button class="fs-5 subscribe_warpper___button btn btn-white bg-white w-100">Подписаться</button>
                            </div>
                            <div class="w-100 pt-4 mb-3">
                                <div class="form-check d-flex align-items-center">
                                    <input class="form-check-input border-white border border-3 bg-primary rounded-1" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label ms-2" for="defaultCheck1">
                                        Я ознакомлен(а) с Политикой в отношении обработки персональных данных
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center mt-3">
                                    <input class="form-check-input border-white border border-3 bg-primary rounded-1" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label ms-2" for="defaultCheck1">
                                        Даю согласие на обработку моих персональных данных
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center mt-3">
                                    <input class="form-check-input border-white border border-3 bg-primary rounded-1" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label ms-2" for="defaultCheck1">
                                        Даю согласие на получение рекламной и информационной рассылки GreenWorks
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-7 d-none d-md-block d-lg-block">
                <div class="bg-primary w-100 h-100 rounded-2 overflow-hidden position-relative">
                    <img class="w-100 rounded-2 position-absolute object-fit-cover z-0" src="/img/main/email_banner.png" alt="">
                </div>
            </div>
            <div class="col-12 d-md-none mt-4">
                <div class="bg-primary w-100 h-100 rounded-2 overflow-hidden">
                    <img class="w-100 p-0 rounded-2 object-fit-cover" src="/img/main/email_banner.png" alt="">
                </div>
            </div>
{#        </div>#}
{#        <div class="bg-primary  text-white py-16 text-start p-10 col-lg-5 col-md-5 rounded-2">#}
{#            <div class="fs-17 fw-semibold mb-3">#}
{#                ПОДПИСКА<br>GREENWORKS#}
{#            </div>#}
{#            <div class="fw-light fs-6 mb-6 ">#}
{#                Подпишись, чтобы получать информацию о эксклюзивных<br>предложениях, поступлениях, событиях и#}
{#                многом другом#}
{#            </div>#}
{#            <div class="col-12 p-0 mx-auto">#}
{#                <form action="" method="" class="w-100">#}
{#                    <div class="w-100">#}
{#                        <input type="email" class="mb-3 subscribe_warpper___input form-control bg-primary border border-white text-white" placeholder="Email"/>#}
{#                    </div>#}
{#                    <div class="w-100">#}
{#                        <button class="fs-5 subscribe_warpper___button btn btn-white bg-white w-100">Подписаться</button>#}
{#                    </div>#}
{#                    <div class="w-100 pt-4 mb-3">#}
{#                        <div class="form-check d-flex align-items-center">#}
{#                            <input class="form-check-input border-white border border-3 bg-primary rounded-1" type="checkbox" value="" id="defaultCheck1">#}
{#                            <label class="form-check-label ms-2" for="defaultCheck1">#}
{#                                Я ознакомлен(а) с Политикой в отношении обработки персональных данных#}
{#                            </label>#}
{#                        </div>#}
{#                        <div class="form-check d-flex align-items-center mt-3">#}
{#                            <input class="form-check-input border-white border border-3 bg-primary rounded-1" type="checkbox" value="" id="defaultCheck1">#}
{#                            <label class="form-check-label ms-2" for="defaultCheck1">#}
{#                                Даю согласие на обработку моих персональных данных#}
{#                            </label>#}
{#                        </div>#}
{#                        <div class="form-check d-flex align-items-center mt-3">#}
{#                            <input class="form-check-input border-white border border-3 bg-primary rounded-1" type="checkbox" value="" id="defaultCheck1">#}
{#                            <label class="form-check-label ms-2" for="defaultCheck1">#}
{#                                Даю согласие на получение рекламной и информационной рассылки GreenWorks#}
{#                            </label>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-7 rounded-2 overflow-hidden position-relative p-0 d-none d-md-block d-lg-block">#}
{#            <img class="w-100 rounded-2 position-absolute object-fit-cover z-0" src="/img/main/email_banner.png" alt="">#}
{#        </div>#}
{#        <div class="col-12 p-0 w-100 rounded-2 overflow-hidden d-md-none mt-4" style="aspect-ratio: 340/239;">#}
{#            <img class="w-100 p-0 rounded-2 object-fit-cover" src="/img/main/email_banner.png" alt="">#}
{#        </div>#}
{#    </div>#}
</div>

