
<nav aria-label="breadcrumb my-4" class="">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/">
                Главная
            </a>
            <meta itemprop="item" content="/" />
            <meta itemprop="position" content="1" />
            <meta itemprop="name" content="Главная" />
        </li>

        <li class="breadcrumb-item active" aria-current="page">
            {{ title }}
        </li>
    </ol>
</nav>
