<nav aria-label="Пагинация">
    <ul class="pagination d-flex justify-content-center gap-3">
        <li class="page-item ">
            <a class="page-link rounded" href="#"><</a>
        </li>
        {% for i in 1..6 %}
            <li class="page-item {% if i == 1 %}active{% endif %}">
                <a class="page-link rounded" href="#">{{ i }}</a>
            </li>
        {% endfor %}
        <li class="page-item ">
            <a class="page-link rounded" href="#">></a>
        </li>
    </ul>
</nav>
