<div href="blog-detail.html"
   class="d-flex flex-column bg-white justify-content-between p-4 p-lg-8 link-dark border border-light rounded">
    <div>
        <a href="/blog-detail.html">
            <img src="/img/blog/blog_preview.png" alt="" class="w-100 rounded">
        </a>
        <div class="fs-4 my-6">
            РУБРИКА
        </div>
        <a href="/blog-detail.html" class="text-decoration-none link-dark d-block fw-bold fs-4 fs-xl-5 mb-5">
            Снегоуборщик Greenworks GD82ST 82V 2602507 (56 см) бесщёточный
            аккумуляторный 82V
        </a>
        <div class="fw-light mb-5">
            Какой-то подзаголовок дыодалодцуа длол уцкшщзц идлоывадо олыа ов
            оывал
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="">
            31 мая 2019
        </div>
        <a href="/blog-detail.html" class="text-decoration-none link-dark">
            Читать
        </a>
    </div>
</div>
