{% extends "templates/base.twig" %}

{% set title = "404 page not found" %}

{% block page %}
    <div class="py-lg-4 py-3"></div>
    <div class="container text-center my-5">
        <div class="bg-light p-4 p-lg-5">
            <h1 class="text-uppercase">
                Ошибка 404
            </h1>
            <div class="my-4 pt-2 text-uppercase">
                <small>
                    Данной страницы не существует, либо она была удалена
                </small>
            </div>
            <a href="/" class="btn btn-link-arrow">
                на главную
            </a>
        </div>
    </div>


{% endblock %}
