{% extends "templates/base.twig" %}

{% set title = "Каталог раздел" %}

{% block page %}
    <div class="container">
        <div class="row">

            
            {% include '/inc/catalog/catalog_sitebar.twig' %}
            
            <div class="col-12 col-xl-10">
                <div class="my-5">
                    {% include '/inc/main/breadcrumbs.twig' %}
                </div>

                {% set categoryList = [
                    'Газонокосилки',
                    'Триммеры',
                    'Снегоуборочная техника',
                    'Цепные пилы',
                    'Кусторезы и высоторезы',
                    'Воздуходувки и пылесосы',
                    'Мойки, насосы и компрессоры',
                    'Аэраторы и скарификаторы',
                    'Культиваторы',
                    'Садовые тракторы',
                    'Лодочные моторы',
                    'Техника для сада',
                    'Ручной инструмент',
                    'Аккумуляторы и зарядные устройства',
                    'Товары для отдыха и туризма'
                ] %}
                <div class="row row-gap-8">
                    {% for key, val in categoryList %}
                        <div class="col-4 col-md-3">
                            <a href="/catalog-section.html"
                               class="link-dark d-flex gap-3 flex-column fs-4 fs-lg-7 text-decoration-none">
                                <div class="bg-light catalog-section-preview p-2">
                                    <img src="/img/catalog/section_{{ key }}.png" alt="">
                                </div>
                                <span class="text-uppercase fw-semibold">
                                        {{ val }}
                                    </span>
                            </a>
                        </div>
                    {% endfor %}

                </div>
                <h2 class="fs-19 my-5 mb-2 text-uppercase fw-semibold">
                    Серии
                </h2>
                <div class="row row-gap-10 my-15 ">
                    {% set series = [
                        {
                            'voltage': '24V',
                            'name': 'Серия 24 Вольт'
                        },
                        {
                            'voltage': '40V',
                            'name': 'Серия 40 Вольт'
                        },
                        {
                            'voltage': '60V',
                            'name': 'Серия 60 Вольт'
                        },
                        {
                            'voltage': '82V',
                            'name': 'Серия 82 Вольт Commercial'
                        },
                        {
                            'voltage': '80V',
                            'name': 'Серия 80 Вольт'
                        },
                        {
                            'voltage': '220V',
                            'name': 'Серия 230 Вольт'
                        }
                    ] %}
                    {% for key, val in series %}
                        <div class="col-4 col-md-2 h-auto">
                            <a href="/catalog.html"
                               class="gap-4 h-100 fw-semibold d-flex flex-column bg-white rounded text-center text-uppercase justify-content-center w-100 py-4 text-decoration-none align-items-center link-dark">
                                <div class="series-icon">
                                    <img src="/img/catalog/series/series_{{ key }}.png" alt="">
                                </div>
                                <div class="fs-5">
                                    {{ val.name }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>

                {% include '/inc/catalog/catalog_footer.twig' %}
            </div>
        </div>

    </div>
{% endblock %}
