{% extends 'templates/base.twig' %}
{% set title = 'Политика в отношении обработки персональных данных' %}

{% block page %}


    <div class="container">
        <div class="row">
            <div class="col-12  col-xl-2">
                {% include '/inc/catalog/catalog_sitebar_sm.twig' %}
            </div>
            <div class="col-12 col-xl-10">
                <div class="my-5">
                    {% include '/inc/main/breadcrumbs.twig' %}
                </div>

                <div class="my-5 fw-medium">
                    <h1>
                        Политика в отношении обработки персональных данных
                    </h1>
                    <p>
                        Данная политика определяет порядок обработки персональных данных и меры по обеспечению их
                        безопасности
                    </p>
                    <h2>
                        1. Общие положения
                    </h2>
                    <p>1.1. Политика ООО «ВсеИнструменты.ру» (далее – «Общество») в отношении обработки персональных
                        данных (далее – «Политика») определяет порядок обработки и защиты Обществом персональных
                        данных.</p>
                    <p>1.2. Действие Политики распространяется на все персональные данные субъектов, обрабатываемые
                        Обществом с применением средств автоматизации и без применения таких средств.</p>
                    <p>1.3. Политика определяет права и обязанности руководителей и работников Общества, порядок
                        использования персональных данных в служебных целях, а также порядок взаимодействия по поводу
                        обработки и защиты персональных данных. Политика обязательна к исполнению всеми работниками
                        Общества, имеющими доступ к персональным данным.</p>
                    <p>1.4. К Политике имеет доступ любой субъект персональных данных. Актуальная версия Политики
                        публикуется на сайте <a href="https://www.vseinstrumenti.ru/">https://www.vseinstrumenti.ru/</a>.
                    </p>
                    <h2>2 Определения</h2>
                    <p>2.1. Персональные данные - любая информация, относящаяся к прямо или косвенно определённому или
                        определяемому физическому лицу (субъекту персональных данных);</p>
                    <p>2.2. Обработка персональных данных - любое действие (операция) или совокупность действий
                        (операций), совершаемых с использованием средств автоматизации или без использования таких
                        средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение,
                        уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
                        предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
                        данных;</p>
                    <p>2.3. Автоматизированная обработка персональных данных - обработка персональных данных с помощью
                        средств вычислительной техники;</p>
                    <p>2.4. Распространение персональных данных - действия, направленные на раскрытие персональных
                        данных неопределенному кругу лиц;</p>
                    <p>2.5. Предоставление персональных данных - действия, направленные на раскрытие персональных данных
                        определенному лицу или определенному кругу лиц;</p>
                    <p>2.6. Блокирование персональных данных - временное прекращение обработки персональных данных (за
                        исключением случаев, если обработка необходима для уточнения персональных данных);</p>
                    <p>2.7. Уничтожение персональных данных - действия, в результате которых становится невозможным
                        восстановить содержание персональных данных в информационной системе персональных данных и (или)
                        в результате которых уничтожаются материальные носители персональных данных;</p>
                    <p>2.8. Обезличивание персональных данных - действия, в результате которых становится невозможным
                        без использования дополнительной информации определить принадлежность персональных данных
                        конкретному субъекту персональных данных;</p>
                    <p>2.9. Информационная система персональных данных - совокупность содержащихся в базах данных
                        персональных данных и обеспечивающих их обработку информационных технологий и технических
                        средств.</p>
                    <h2>3 Порядок и условия обработки персональных данных</h2>
                    <p>3.1. При обработке персональных данных Общество руководствуется:</p>
                   <ul>
                       <li>Конституцией Российской Федерации;</li>
                       <li>Гражданским кодексом Российской Федерации;</li>
                       <li>Трудовым кодексом Российской Федерации;</li>
                       <li>Федеральным законом от 27.07.2006 г. № 149-ФЗ «Об информации, информационных технологиях и о защите информации»;</li>
                       <li>Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных»;</li>
                       <li>Постановлением Правительства Российской Федерации от 01.11.2012 г. № 1119 «Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»;</li>
                       <li>Приказом Федеральной службы по техническому и экспортному контролю от 18.02.2013 г. № 21 «Об утверждении Состава и содержания организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных»;</li>
                       <li>Постановлением Правительства Российской Федерации от 15.09.2008 г. № 687 «Об утверждении положения об особенностях обработки персональных данных, осуществляемой без использования средств автоматизации»;</li>
                       <li>Уставом Общества;</li>
                       <li>Настоящей Политикой;</li>
                       <li>Согласиями на обработку персональных данных, получаемыми Обществом от субъектов персональных данных.</li>
                   </ul>
                    <p>3.2. При обработке персональных данных Общество придерживается следующих принципов:</p>
                    <p>законности;</p>
                    <p>ограничения обработки персональных данных достижением конкретных, заранее определенных и законных
                        целей;</p>
                    <p>недопущения обработки персональных данных, несовместимой с целями сбора персональных данных;</p>
                    <p>соответствия содержания и объема обрабатываемых персональных данных заявленным целям
                        обработки;</p>
                    <p>недопущения избыточности обрабатываемых персональных данных по отношению к заявленным целям
                        обработки;</p>
                    <p>прозрачности обработки персональных данных: субъекту персональных данных может предоставляться
                        соответствующая информация, касающаяся обработки его персональных данных;</p>
                    <p>осуществления хранения персональных данных в форме, позволяющей определить субъекта персональных
                        данных, не дольше, чем этого требуют заявленные цели обработки персональных данных.</p>
                    <p>3.3. Общество не обрабатывает специальные категории персональных данных, касающихся расовой,
                        национальной принадлежности, политических взглядов, религиозных или философских убеждений,
                        интимной жизни.</p>
                    <p>3.4. Общество не принимает решений, порождающих юридические последствия в отношении субъекта
                        персональных данных или иным образом затрагивающих права и законные интересы субъектов, на
                        основании исключительно автоматизированной обработки персональных данных. Данные, имеющие
                        юридические последствия или затрагивающие права и законные интересы субъекта персональных
                        данных, подлежат перед их использованием проверке со стороны уполномоченных работников
                        Общества.</p>
                    <p>3.5. Общество не размещает персональные данные субъекта персональных данных в общедоступных
                        источниках без его предварительного согласия.</p>
                    <p>3.6. Общество вправе передавать персональные данные субъектов персональных данных третьим лицам
                        для обработки по договору поручения, в том числе хостинг-провайдерам, с соблюдением условий
                        конфиденциальности и требований к поручению обработки персональных данных, предусмотренных
                        Федеральным законом РФ от 27.07.2006 г. № 152-ФЗ «О персональных данных».</p>
                    <p>3.7. Общество осуществляет обработку персональных данных с использованием средств автоматизации и
                        без их использования, выполняя требования к автоматизированной и неавтоматизированной обработке
                        персональных данных, предусмотренные Федеральным законом РФ от 27.07.2006 г. № 152-ФЗ «О
                        персональных данных» и принятыми в соответствии с ним нормативными правовыми актами.</p>
                    <p>3.8. В рамках указанных в разделе 4 настоящей Политики целей сбора персональных данных Общество
                        вправе совершать любые действия (операции) или совокупность действий (операций), с
                        использованием средств автоматизации или без использования таких средств, предусмотренные п. 3
                        ч. 1 ст. 3 Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных», включая сбор,
                        запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
                        использование, обезличивание, блокирование, удаление, уничтожение, передачу (распространение,
                        предоставление, доступ) персональных данных третьим лицам с соблюдением мер, обеспечивающих
                        защиту персональных данных от несанкционированного доступа, в объеме, необходимом для достижения
                        целей данного субъектом персональных данных согласия.</p>
                    <p>3.9. Информация, относящаяся к персональным данным, ставшая известной Обществу, является
                        конфиденциальной информацией и охраняется законом.</p>
                </div>


            </div>
        </div>


    </div>

    {% include '/inc/callback/email.twig' %}

{% endblock %}
