{% extends "templates/base.twig" %}
{% block page %}
<select class="js-chosen" name="city" placeholder="Выберите город">
	<option value=""></option>
	<option value="367">Абаза</option>
	<option value="340">Абакан</option>	
	<option value="369">Абдулино</option>	
	<option value="370">Абинск</option>	
	<option value="371">Агидель</option>	
	...
</select>
{% endblock %}